{% extends 'base.html.twig' %}

{% block title %}Room index{% endblock %}

{% block body %}
    <a class="btn btn-outline-success mb-3" href="{{ path('room_new') }}">Create new</a>

    <h1>Room index</h1>

    <table class="table table-hover table-striped">
        <thead>
            <tr>
                <th>Numéro</th>
                <th>Nom de la chambre</th>
                <th>Prix</th>
                <th>Image</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for room in rooms %}
            <tr>
                <td>{{ room.number }}</td>
                <td>{{ room.name }}</td>
                <td>{{ room.price|replace({'.': ','}) }}&euro;</td>
                <td>
                    {% if room.image and room.image|length > 30 %}{{ room.image|slice(9, 30) ~ '...' }}
                    {% elseif room.image and room.image|length < 30 %}{{ room.image }}
                    {% endif %}
                </td>
                <td>
                    <a class="btn btn-outline-primary" href="{{ path('room_show', {'id': room.id}) }}">show</a>
                    <a class="btn btn-outline-warning" href="{{ path('room_edit', {'id': room.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
