{% extends 'base.html.twig' %}

{% block title %}Room{% endblock %}

{% block body %}
    <a class="btn btn-outline-primary mb-3" href="{{ path('room_index') }}">back to list</a>
    <h1>Room</h1>
    <img src="{{ room.image }}" alt="{{ room.image|slice(9) }}" title="{{ room.image|slice(9) }}" width="500px">
    <table class="table mt-4">
        <tbody>
            <tr>
                <th>Numéro</th>
                <td>{{ room.number }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ room.name }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ room.price }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-outline-warning my-2" href="{{ path('room_edit', {'id': room.id}) }}">edit</a>

    {{ include('room/_delete_form.html.twig') }}
{% endblock %}
