{% extends 'base.html.twig' %}

{% block title %}Page de Réservation{% endblock %}

{#{% block body %}{{ form_start(form) }}#}
{#    {{ form_widget(form) }}#}
{#    <button class="btn btn-outline-success">{{ button_label|default('Save') }}</button>#}
{#    {{ form_end(form) }}#}

{#{% endblock %}#}
{% block body %}
    <a class="btn btn-outline-info my-3" href="{{ path('booking_index') }}">&leftarrow; Retour</a>
    {{ form_start(form) }}
        {{ form_widget(form.customer) }}

    {{ form_label(form.room) }}
    {{ form_widget(form.room) }}

{#        {{ form_label(form.startDate) }}#}
{#        <div class="input-group date" id="startDate" data-provide="datepicker">#}
{#            {{ form_widget(form.startDate) }}#}
{#            <div class="input-group-addon">#}
{#                <span class="glyphicon glyphicon-th"></span>#}
{#            </div>#}
{#        </div>#}

{#        {{ form_label(form.endDate) }}#}
{#            <div class="input-group date" id="endDate" data-provide="datepicker">#}
{#                {{ form_widget(form.endDate) }}#}
{#                <div class="input-group-addon">#}
{#                    <span class="glyphicon glyphicon-th"></span>#}
{#                </div>#}
{#            </div>#}

        {{ form_label(form.startDate) }}
        {{ form_label(form.endDate) }}
        <div class="input-group input-daterange" id="daterange">
{#        <div class="input-group-addon mx-2 py-1"> du </div>#}
            {{ form_widget(form.startDate) }}
            <div class="input-group-addon mx-2 py-1"> au </div>
            {{ form_widget(form.endDate) }}
        </div>
        {{ form_label(form.comment) }}
        {{ form_widget(form.comment) }}
    {{ form_end(form) }}
    <div class="alert alert-secondary" id="resumeTarif" hidden>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <p><span id="nbNight">...</span> nuit(s) à <span id="roomPrice">...</span> &euro; pour un total de <span id="total">...</span> &euro;</p>
    </div>
{% endblock %}

{% block stylesheets %}
    <link  rel="stylesheet" href="/css/bootstrap-datepicker.min.css">
    <style>
        .input-group>.custom-select:not(:last-child)>disabled, .input-group>.form-control:not(:last-child){

        }
    </style>
{% endblock %}

{% block javascripts %}
    <script src="/js/bootstrap-datepicker.min.js"></script>
    <script>
        const dayDuration = 24 * 60 *60 * 1000;
        let calculate = function () {
            const startDate = new Date($('#{{form.startDate.vars.id}}').val().split('/').reverse().join('-'));
            const endDate = new Date($('#{{form.endDate.vars.id}}').val().split('/').reverse().join('-'));
            const price = $('#{{form.room.vars.id}} option:selected').attr('data-price');
            if (price && startDate && endDate && startDate < endDate) {
                const interval = endDate.getTime() - startDate.getTime();
                const nbNight = interval / dayDuration;
                const total = nbNight * price;
                $('#resumeTarif').removeAttr('hidden');
                $('#nbNight').text(nbNight);
                $('#roomPrice').text(price);
                $('#total').text(total.toLocaleString('fr-FR'));
            }
        }

        let dateInspoByRoom = function(event){
            $('#{{form.startDate.vars.id}}').attr("disabled", 'disabled');
            $('#{{form.endDate.vars.id}}').attr("disabled", 'disabled');
            let id = $('#{{form.room.vars.id}} option:selected').val();
            let dateStart;
            if ($('#{{form.startDate.vars.id}}').val()) {
                let date = $('#{{ form.startDate.vars.id }}').val().split('/').reverse().join('-');
                dateStart = Date.parse(date)/1000;
            }
            else dateStart = Date.now();
            let route = "unavailable/"+id+"/"+dateStart;
            $.ajax({
                url: route,
                type: 'GET',
                success: function (data, statut) {
                    //pour les deux datepickes
                    // $('#startDate').datepicker('setDatesDisabled', data);
                    // $('#endDate').datepicker('setDatesDisabled', data);
                    //pour le daterange
                    $('.input-daterange input').each(function(){$(this).datepicker('setDatesDisabled', data)});
                    $('#{{form.endDate.vars.id}}').datepicker('setEndDate', data[0]);
                    $('#{{form.startDate.vars.id}}').removeAttr("disabled");
                    $('#{{form.endDate.vars.id}}').removeAttr("disabled");
                },
                error: function (resultat, statut, error){
                    console.error(resultat);
                }
            });
        }

        $('#{{form.room.vars.id}}').on('change',dateInspoByRoom);
        $('#{{form.startDate.vars.id}}').on('change',dateInspoByRoom);
        $('#{{form.room.vars.id}}').on('change',calculate);
        $('#{{form.startDate.vars.id}}').on('change',calculate);
        $('#{{form.endDate.vars.id}}').on('change',calculate);

        //pour les deux datepickes
        // $('.date').datepicker({
        //     format: 'dd/mm/yyyy',
        //     // format: 'yyyy-mm-dd',
        //     startDate: new Date,
        //     autoclose: true
        // });

        //pour les deux daterange
        $('.input-daterange input').each(function() {
            $(this).datepicker({
                format: 'dd/mm/yyyy',
                startDate: new Date,
                autoclose: true,
                weekStart: 1,
            });
        });
        $('#daterange').datepicker({
            inputs: $('.daterange')
        });

        $(document).ready(function (){
            dateInspoByRoom()
        })
    </script>
{% endblock %}
