{% extends 'base.html.twig' %}

{% block title %}Page de Réservation{% endblock %}

{#{% block body %}{{ form_start(form) }}#}
{#    {{ form_widget(form) }}#}
{#    <button class="btn btn-outline-success">{{ button_label|default('Save') }}</button>#}
{#    {{ form_end(form) }}#}

{#{% endblock %}#}
{% block body %}
{#    {{ form(form) }}#}
    {{ form_start(form) }}
        {{ form_widget(form.customer) }}

    {{ form_label(form.room) }}
    {{ form_widget(form.room) }}

        {{ form_label(form.startDate) }}
        <div class="input-group date" id="startDate" data-provide="datepicker">
            {{ form_widget(form.startDate) }}
            <div class="input-group-addon">
                <span class="glyphicon glyphicon-th"></span>
            </div>
        </div>

        {{ form_label(form.endDate) }}
            <div class="input-group date" id="endDate" data-provide="datepicker">
                {{ form_widget(form.endDate) }}
                <div class="input-group-addon">
                    <span class="glyphicon glyphicon-th"></span>
                </div>
            </div>

        {{ form_label(form.comment) }}
        {{ form_widget(form.comment) }}
    {{ form_end(form) }}
    <div class="my-3">
        <p><span id="nbNight">...</span> nuit(s) à <span id="roomPrice">...</span> &euro; pour un total de <span id="total">...</span> &euro;</p>
    </div>
{% endblock %}

{% block stylesheets %}
    <link  rel="stylesheet" href="/css/bootstrap-datepicker.min.css">
    <style>
        .input-group>.custom-select:not(:last-child)>disabled, .input-group>.form-control:not(:last-child){

        }
    </style>
{% endblock %}

{% block javascripts %}
    <script src="/js/bootstrap-datepicker.min.js"></script>
    <script>
        const dayDuration = 24 * 60 *60 * 1000;
        let calculate = function () {
            const startDate = new Date($('#{{form.startDate.vars.id}}').val());
            const endDate = new Date($('#{{form.endDate.vars.id}}').val());
            {#const startDate = new Date($('#{{form.startDate.vars.id}}').val().split('/').reverse().join('-'));#}
            {#const endDate = new Date($('#{{form.endDate.vars.id}}').val().split('/').reverse().join('-'));#}
            const price = $('#{{form.room.vars.id}} option:selected').attr('data-price');
            if (price && startDate && endDate && startDate < endDate) {
                const interval = endDate.getTime() - startDate.getTime();
                const nbNight = interval / dayDuration;
                const total = Math.round(nbNight * price);
                $('#nbNight').text(nbNight);
                $('#roomPrice').text(price);
                $('#total').text(total.toLocaleString('fr-FR'));
            }
        }

        let dateInspoByRoom = function(event){
            $('#{{form.startDate.vars.id}}').attr("disabled", 'disabled');
            $('#{{form.endDate.vars.id}}').attr("disabled", 'disabled');
            let id = $('#{{form.room.vars.id}} option:selected').val();
            let route = "unavailable/"+id;
            $.ajax({
                url: route,
                type: 'GET',
                success: function (data, statut) {
                    $('#startDate').datepicker('setDatesDisabled', data);
                    $('#endDate').datepicker('setDatesDisabled', data);
                    $('#{{form.startDate.vars.id}}').removeAttr("disabled");
                    $('#{{form.endDate.vars.id}}').removeAttr("disabled");
                },
                error: function (resultat, statut, error){
                    console.log(resultat);
                }
            });
        }

        $('#{{form.room.vars.id}}').on('change',dateInspoByRoom);
        $('#{{form.room.vars.id}}').on('change',calculate);
        $('#{{form.startDate.vars.id}}').on('change',calculate);
        $('#{{form.endDate.vars.id}}').on('change',calculate);

        $('.date').datepicker({
            format: 'dd/mm/yyyy',
            // format: 'yyyy-mm-dd',
            startDate: new Date,
            autoclose: true
        });

        $(document).ready(function (){
            dateInspoByRoom()
        })
    </script>
{% endblock %}
