{% extends 'base.html.twig' %}

{% block title %}Booking index{% endblock %}

{% block body %}
    <h1>Booking index - {{ bookings|length }} réservations trouvées</h1>

    <a class="btn btn-outline-success my-3" href="{{ path('booking') }}">Create new</a>

    <span class="my-2">
        <h2></h2>
    </span>

    {{ knp_pagination_render(bookings) }}
    <table class="table table-hover table-striped">
        <thead>
        <tr>
            <th>Arrivé</th>
            <th>Départ</th>
            <th>Chambre</th>
            <th>Client</th>
            <th>Commentaire</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for book in bookings %}
            <tr>
                <td>{{ book.startDate|date("d D M Y") }}</td>
{#                <td>{{ book.startDate|format_datetime(locale='fr',pattern="EEEE dd MMMM YYYY")  }}</td>#}
                <td>{{ book.endDate|date("d D M Y") }}</td>
                <td>{{ book.room.id }} - {{ book.room.name }}</td>
                <td>{{ book.customer.email }}</td>
                <td>{{ book.comment }}</td>
                <td class="bs-component">
                    <a class="btn btn-outline-primary" href="{{ path('booking_show', {'id': book.id}) }}">show</a>
{#                    <a class="btn btn-outline-warning" href="{{ path('user_edit', {'id': book.id}) }}">edit</a>#}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {{ knp_pagination_render(bookings) }}
{% endblock %}
